body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("http://geology.com/world/world-map-of-cities-at-night-lg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
