.nav {
	background-color: #222222;
	border-bottom-width: 0px;


}

ul.nav a:hover {
	background-color: black;
	color: red;
	opacity: 0.6;
	margin: 0;
	border: 0;
}

ul.nav a:active {
	opacity: 0.7;
	color: green;
}

ul.nav a: {
	background-color: black;
	color: red;
}